<!-- the big FAQ banner -->
<section class="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h1 class="banner-title">F.A.Q.</h1>
        <h3 class="banner-desc">Some answers to frequently asked questions!</h3>
      </div>
    </div>
  </div>
</section>

<!-- the section for FAQ content -->
<section>
  <div class="container">
    <div class="row static-row">
      <div class="col-md-12 faq-question top-faq">
        <h3>Tell me more about this website (include benefits)</h3>
        <p><b>For Members: </b><br/>unicefjobs.ninja is a membership platform which allows you to find jobs, volunteer opportunities and fellowships at UNICEF. The jobs posted here fall under, but are not limited to, unique areas such as Design and Development. We created this platform to match more creatives, technologists and other types of specialists to the new and emerging opportunities which are becoming more and more available at UNICEF.</p>
        <p><b>For UNICEF Job Posters: </b><br/>As a UNICEF job poster, unicefjobs.ninja aims to match your project needs with an array of talent to help you have a more competitive selection process. We know it’s not always easy to find the best match, so this platform aims to simplify your recruitment process.</p>
      </div>
      <div class="col-md-12 faq-question">
        <h3>What is UNICEF?</h3>
        <p>UNICEF, or the United Nations Children’s Fund, is the leading humanitarian and development agency working globally for the rights of every child. Child rights begin with safe shelter, nutrition, protection from disaster and conflict and traverse the life cycle: pre-natal care for healthy births, clean water and sanitation, healthcare and education.</p>
        <p>UNICEF has spent over 60 years working to improve the lives of children and their families. Working with and for children through adolescence and into adulthood requires a global presence whose goal is to produce results and monitor their effects. UNICEF also lobbies and partners with leaders, thinkers and policymakers to advance the access of all children to their rights—especially the most disadvantaged.<br/>
        To learn more about UNICEF, visit <a href="http://www.unicef.org">www.unicef.org</a>.</p>
      </div>
      <div class="col-md-12 faq-question">
        <h3>What is the basic process to be a member?</h3>
        <p>To be a member of unicefjobs.ninja, you must first register an account. Then, fill out the required fields in your Profile in order to be eligible to apply for any opportunities. You can update your profile anytime so job posters can see your most updated information.</p>
      </div>
      <div class="col-md-12 faq-question">
        <h3>Do I need to be a member to view job postings?</h3>
        <p>No. You can view jobs without being a member, but you cannot apply to a job without an account.</p>
      </div>
      <div class="col-md-12 faq-question">
        <h3>If I am a firm or small company, can I apply?</h3>
        <p>unicefjobs.ninja is intended mainly for individuals seeking jobs. At this time, we do not have the capacity to handle firm or small company members and aim to expand soon. You may certainly apply as an individual and indicate in your Profile (under Additional Comments) if you work with other individuals.</p>
      </div>
      <div class="col-md-12 faq-question">
        <h3>What does it mean to be pre-approved?</h3>
        <p>We provide an opt-in vetting system to each skillset Area (ex. Design, Development, etc), which allows you to be pre-approved and recommended for jobs and volunteer opportunities by our team. This puts you on a faster track for being hired for an opportunity with UNICEF. When you request to be pre-approved, our team receives an alert to closely review your profile. We may contact you to conduct a more formal interview or pre-approve you based on your portfolio and resume. If you are pre-approved, you will receive a badge which will appear at the top of searches and in your Profile. This badge let’s job posters know you’ve been reviewed and recommended by our team.</p>
      </div>
      <div class="col-md-12 faq-question">
        <h3>How do I get pre-approved?</h3>
        <p>Select the Area (ex. Design, Development, etc) for which you want to be pre-approved. Select the “Get Pre-Approved” button. This will alert our team that you would like us to review your profile. We will assess your profile and follow-up with you on next steps.</p>
      </div>
      <div class="col-md-12 faq-question">
        <h3>How do you assess how someone gets pre-approved?</h3>
        <p>Each Area has different requirements for how you are pre-approved, but all requirements are based on UNICEF’s Core Competencies and Core Values. Additionally, your resume and your portfolio or  past experience are key components for our assessment. The more information you put on your profile, resume, CV, the better decision we can make. We may also reach out to you to conduct a quick interview. In the case you are shortlisted for a job opportunity, we will reach out to you for further interview requirements which can include technical tests depending on the nature of the work required.</p>
      </div>
      <div class="col-md-12 faq-question">
        <h3>Can I get pre-approved for more than one Area?</h3>
        <p>Yes. Select the “Get Pre-Approved” button for the Areas in which you would like to be pre-approved. We will review each Area separately for which you have requested pre-approval.</p>
      </div>
      <div class="col-md-12 faq-question">
        <h3>If I become a member of this site, am I guaranteed an opportunity?</h3>
        <p>Being a member of this site allows you quicker access to jobs in your skill area and gives UNICEF’s innovation opportunities a place to be found by a more competitive range of talent. Membership does not guarantee you a job or other type of opportunity, but does allow you a greater chance to be matched with our jobs and other engagements.</p>
      </div>
      <div class="col-md-12 faq-question">
        <h3>Can non-U.S. citizens apply for these jobs?</h3>
        <p>Yes! The opportunities are not limited to U.S. Citizens. Please review the opportunities thoroughly in order to learn whether or not you are qualified to apply.</p>
      </div>
      <div class="col-md-12 faq-question">
        <h3>What is a P-11 form?</h3>
        <p>The P-11 form is an official UNICEF form which asks for your personal information and past experience. This form is mandatory for all people who want to apply for an opportunity at UNICEF.
        <br/>
        <a href="http://www.unicef.org/about/employ/files/P11.doc">You can download a P-11 form here.</a>
        </p>
      </div>
      <div class="col-md-12 faq-question">
        <h3>Why can’t I upload my portfolio to the website? Why must I provide a URL?</h3>
        <p>If you have a portfolio to add to your profile, it is much simpler and faster for job posters to review your portfolio via website as opposed to downloading a document.. For some of our country offices lacking strong internet connections, it’s much easier to review a document online. This helps maximize the efficiency in which a job poster can review your application.</p>
      </div>
      <div class="col-md-12 faq-question">
        <h3>If I am appointed a paid opportunity, how will I get paid?</h3>
        <p>If you are awarded a paid opportunity, the manager of the job will be able to direct you on payment procedures and any other contracting needs as they may vary depending on the nature of the job. You will need a bank account where payments can be wired and you will likely be asked to fill out vendor information forms in order to create an account directly through UNICEF. Please ask the manager of your job for more information.</p>
      </div>
      <div class="col-md-12 faq-question">
        <h3>If I have other questions, who can I contact?</h3>
        <p>Email us at <u>unicef.jobs@gmail.com.</u> Be sure to include the Subject Line: “QUERY: Ninja” so we can spot your question in our inbox.</p>
      </div>
    </div>
  </div>
</section>
