<!-- the big Privacy Policy banner -->
<section class="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h1 class="banner-title">Privacy Policy</h1>
        <h3 class="banner-desc">Our Privacy Policy</h3>
      </div>
    </div>
  </div>
</section>

<!-- the section for About content -->
<section>
  <div class="container">
    <div class="row static-row">
      <div class="col-md-12 faq-question top-faq">
        <p>unicefjobs.ninja (“Site”, “we”, “us”, “our”) is committed to respecting the privacy of your information. This Privacy Policy ("Privacy Policy") describes the personal information we collect through our website and any mobile applications (the "Site"), and how we collect and use this information.</p>
      </div>
      <div class="col-md-12 faq-question">
        <h3>COLLECTION AND USE OF PERSONAL INFORMATION</h3>
        <p>This is a legal agreement between you (‘you’, ‘user’, ‘talent’) and unicefjobs.ninja(“Site”, “we”, “us”, “our”). By using the Site, you are agreeing that you have read, understand, and agree to be bound by these Terms of Service detailed below.</p>
        <p>These Terms of Service, including the Privacy Policy, are subject to change by unicefjobs.ninja at any time. We will notify you about significant changes in these Terms of Service by sending a notice to the e-mail address registered in your account, or by placing a prominent notice on the Site, so that you can choose whether to continue using our Services. Non-material changes or clarifications will take effect immediately upon posting of the updated Terms of Service on the Site. You should periodically check this page for updates. Any use of the Site or Services by you after the effective date of any changes will constitute your acceptance of such changes.</p>
        <p>If you do not agree or are unable to agree to be bound by these Terms of Service, do not use the Site or the Services.</p>
      </div>
    </div>
  </div>
</section>
