<form>
  <section>
    <div class="modal-body padding-bottom-none" id="forgot-done-view">
        <h2>Reset Your Password</h2>

        <p>
          Thank you! An email will arrive shortly with a link to reset your password.
        </p>
        <p>
          If you don't receive an email shortly, check your spam folder.
        </p>
    </div>

    <div class="modal-footer modal-footer-grey" id="forgot-done-footer" style="display:none;">
      <div class="row">
        <div class="col-sm-12">
          <div class="pull-right">
            <button type="button" id="forgot-done-cancel" class="btn btn-c2">Return to Login</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>
