<form role="form" id="login-password-form">
  <section name="Login" class="padding-bottom-none" id="login-view">

    <% if (message && !_.isUndefined(message.message)) { %>
      <div class="alert alert-warning">
        <!-- Escaped in calling views -->
        <%= message.message %>
      </div>
    <% } %>

    <% if (login.oauth.length > 0) { %>
      <div class="login-oauth">Login with
        <% _.each(login.oauth, function (e) { %>
          <div class="row">
            <div class="col-sm-offset-3 col-sm-6">
              <div class="login-option">
                <a href="<%- login.config[e].endpoint %>" class="btn btn-c0 btn-login">
                  <img src="<%- login.config[e].image %>" alt="<%- login.config[e].name %>" class="btn-login-responsive"/>
                </a>
              </div>
            </div>
          </div>
        <% }); %>
      </div>
    <% } %>

    <% if (login.local.enabled === true) { %>
      <% if (login.oauth.length > 0) { %>
        <hr/>
      <% } %>
      <!-- <div class="alert alert-danger" id="login-error" style="display:none;"></div> -->
      <div class="form-group">
        <label for="username" class="control-label" data-i18n="loginModal.emailAddress">Email Address</label>
        <input type="email" class="form-control" id="username" name="identifier" placeholder="Email Address"/>
      </div>
      <div class="form-group margin-bottom-none">
        <label for="password" class="control-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password"/>
        <a href="#forgot-password" class="forgot-password" id="forgot-password">Forgot your password?</a>
      </div>
    <% } %>

    <div class="form-group">
      <p>Don't have an account? <a href="#" id="register">Register</a></p>
    </div>
  </section>
</form>
