

<style>

  #project > *
  {
    margin-bottom: 30px;
  }

  #project p {
    color:white;
  }

  #project-title {
    display:inline-block;
    padding-top: 30px;
    padding-bottom: 40px;
    border-bottom:1px solid white;
    color:white;
  }

  #project-desc {
    color:white;
  }
</style>

<!-- the big project banner -->
<section style="background:#555">
  <div class="container">
    <!-- the main group description box -->
    <div class="row">
          <!-- NORMAL MODE -->
          <div id="project" class="col-md-6 col-md-offset-3 text-center">
            <h1 id="project-title"> FAQ </h1>
            <h3 id="project-desc"> Some answers to frequently asked questions! </h3>
          </div>
    </div>
  </div>
</section>


<!-- the task list -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 nopadding">

      </div>
    </div>
  </div>
</section>
