

<style>

  #project > *
  {
    margin-bottom: 30px;
  }

  #project p {
    color:white;
  }

  #project-title {
    display:inline-block;
    padding-top: 30px;
    padding-bottom: 40px;
    border-bottom:1px solid white;
    color:white;
  }

  #project-desc {
    color:white;
  }
</style>

<!-- the big FAQ banner -->
<section style="background:#555">
  <div class="container">
    <div class="row">
          <div id="project" class="col-md-6 col-md-offset-3 text-center">
            <h1 id="project-title"> F.A.Q. </h1>
            <h3 id="project-desc"> Some answers to frequently asked questions! </h3>
          </div>
    </div>
  </div>
</section>


<!-- the section for FAQ content -->
<section>
  <div class="container">
    <div class="row faq-row">
      <div class="col-md-12 faq-question top-faq">
        <h3>What is the basic process to be a member?</h3>
        <p>To be a member of [site name], you must first register an account. Then, fill out the required fields in your Profile in order to be eligible to apply for any opportunities. You can update your profile anytime so job posters can see your most updated information.</p>
      </div>
      <div class="col-md-12 faq-question">
        <h3>What does it mean to be pre-approved?</h3>
        <p>We provide an opt-in vetting system to each group, which allows you to be pre-approved and recommended for jobs and volunteer opportunities by our team. This puts you on a faster track for being hired for an opportunity with UNICEF. When you request to be pre-approved, our team receives an alert to closely review your profile. We may contact you to conduct a more formal interview or pre-approve you based on your portfolio and resume. If you are pre-approved, you will receive a badge which allows you appear at the top of searches and which let’s the job posters know you’ve been considered a recommended candidate.</p>
      </div>
      <div class="col-md-12 faq-question">
        <h3>How do I get pre-approved?</h3>
        <p>Select the Area (ex. Design) for which you want to be pre-approved. Select the “Get Pre-Approved” button. This will alert us that you would like us to review your profile. We will assess your profile and alert you once we have conducted a review. </p>
      </div>
      <div class="col-md-12 faq-question">
        <h3>How do you assess how someone gets pre-approved?</h3>
        <p>Each Area has different requirements for how you are pre-approved, but all requirements are based on UNICEF’s Core Competencies and Core Values. The more information you put on your profile, resume, CV, the better decision we can make. We may also reach out to you to conduct a quick interview. In the case you are shortlisted for a job opportunity, we will reach out to you for further interview requirements which can include technical tests depending on the nature of the work required.</p>
      </div>
      <div class="col-md-12 faq-question">
        <h3>If I become a member of this site, am I guaranteed an opportunity?</h3>
        <p>Being a member of this site allows you quicker access to jobs in your skill area and gives UNICEF’s innovation opportunities a place to be found by a more competitive range of talent. Membership does not guarantee you a job, but does give you a greater opportunity to be matched with our jobs and other engagements.</p>
      </div>
      <div class="col-md-12 faq-question">
        <h3>Can non-U.S. citizens apply for these jobs?</h3>
        <p>Yes! The opportunities are not limited to U.S. Citizens. Please review the opportunities thoroughly in order to learn whether or not you are qualified to apply.</p>
      </div>
      <div class="col-md-12 faq-question">
        <h3>What is a P-11 form?</h3>
        <p>The P-11 form is an official UNICEF form which asks for your personal information and past experience. This form is mandatory for all people who want to apply for an opportunity at UNICEF.
        <br/>
        You can download a P-11 form here. (<a href="http://www.unicef.org/about/employ/files/P11.doc">http://www.unicef.org/about/employ/files/P11.doc</a>)</p>
      </div>
      <div class="col-md-12 faq-question">
        <h3>Why can’t I upload my portfolio to the website? Why must I provide a URL?</h3>
        <p>Why can’t I upload my portfolio to the website? Why must I provide a URL? If you have a portfolio to add to your profile, it is much simpler and faster for job posters to review your portfolio via website as opposed to downloading a document, which tend to often be large files or not the best resolution. For some of our country offices lacking strong internet connections, it’s much easier to review a document online. This helps maximize the efficiency in which a job poster can review your application. </p>
      </div>
    </div>
  </div>
</section>
