<form id="task-form">

  <section name="Terms">
    <p>We’re glad you want to create an <span data-i18n="task">opportunity</span>!
      Before continuing please review the following responsibilities.
    </p>

    <p>As a Creator I will:
    <ul>
      <li><strong>Respond promptly and positively</strong> to
        <span data-i18n="task">opportunity</span> takers</li>
      <li>Lay out clear and realistic <strong>deliverables</strong></li>
      <li>Be clear about <strong>how much time is needed</strong> to complete the
        <span data-i18n="task">opportunity</span>
      </li>
      <li>Define the <strong>skills</strong> needed</li>
      <li>Be prepared to <strong>onboard</strong> the
        <span data-i18n="task">opportunity</span> taker.
        If the <span data-i18n="task">opportunity</span>
        assigned is a simple one, take the time to explain it.
        If the <span data-i18n="task">opportunity</span>
        is big or long-term, be prepared to mentor the participant.
      </li>
    </ul>
    </p>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="task-responsibilities" class="validate" data-validate="checked">
        <span id="task-responsibilities-cta">
          I agree to fulfill these responsibilities.
        </span>
      </label>
      <span class="help-block error-checked" style="display:none;">
        You need to check this box to proceed.
      </span>
    </div>
  </section>

  <section name="Basics">
    <div class="form-group">
      <label for="task-title">Job Title</label>
      <input type="text" id="task-title" class="fullwidth form-control validate"
             placeholder="A short description of the problem." data-validate="empty,count100"/>
      <span class="help-block error-empty" style="display:none;">You must enter a title for this <span
          data-i18n="task">opportunity</span></span>
      <span class="help-block error-count100" style="display:none;">The short description of the problem must be less than 100 characters.</span>
    </div>

    <div class="form-group">
      <label for="task-description">Job Description</label>
      <div id="task-description" class="markdown-edit"></div>
      <span class="help-block error-empty" style="display:none;">You must enter a description for this <span data-i18n="task">opportunity</span></span>
    </div>
  </section>

  <section name="Skills">

    <div class="form-group task-skills">
      <label for="tag_skills">Skills</label>
      <div id="tag_skills"></div> <!-- handled by TagShowView.js -->
    </div>

    <div class="form-group task-topics">
      <label for="tag_topics">Topics</label>
      <div id="tag_topics"></div> <!-- handled by TagShowView.js -->
    </div>

  </section>

  <section name="Details">

    <div class="form-group task-location">
      <label for="tag_location">Locations</label>
      <div id="tag_location"></div> <!-- handled by TagShowView.js -->
    </div>

  </section>

</form>
