<span id='modal_target'></span>

<div class="container-fluid padding-left-none padding-right-none" id="home">

<!-- Short Site Description -->
<section class="home-banner" style="background-image: url('/images/UNICEF/Bangladesh-UNI122074.jpg')">
  <div class="container">
    <div class="row">
          <!-- <div class="col-md-6 col-md-offset-3 text-center"> -->
          <div class="splash-wrap text-center">
            <h2 class="home-banner"> unicefjobs.ninja connects the right talent with unique jobs emerging in social innovation at UNICEF. </h2>
            <button class="btn btn-midas start-button" id="home-register" data-i18n="home.callToRegister">Sign Up</button>
            <button class="btn btn-midas start-button" id="home-browse" data-i18n="home.callToBrowse">Browse Jobs</button>
          </div>
    </div>
  </div>
</section>
<section>
<div class="container">
  <div class="home-long-description">
    <p>
      UNICEF has been innovating for children for more than 60 years. UNICEF is engaged in testing and scaling up new partnerships, technologies, and collaborations in some of the world’s most difficult operating environments. This means we are evermore on the lookout for top talent in specialized and creative fields to support the work we do. Through unicefjobs.ninja we aim to provide you with an opportunity to match your skillsets with UNICEF’s new and emerging job positions. 
    </p>
  </div>
</div>
<div class="border-bottom">
</div>
<div class="container">
  <div class="row text-center description-font">
    <div class="col-sm-6 home-member-options padding-left-none">
      <div class="box box-main home-member-descriptions">
        <h3>As a Member</h3>
        <hr/>
        <ul class="de-uglify list-font">
          <li><p><b>Unique job opportunities:</b> Membership means you have free access to unique UNICEF job opportunities which support social innovation. We highlight job opportunities in creative areas like design, technology and programming and bring them to you.</p></li>
          <li><p><b>An opportunity to stand out:</b> We provide an opt-in vetting system, which allows you to be pre-approved and recommended for jobs and volunteer opportunities by our team.</p></li>
          <li><p><b>A fast pass to being hired:</b> We help cut down the paperwork, making for a smoother hiring process.</p></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6 home-member-options padding-right-none">
      <div class="box box-main home-member-descriptions">
        <h3>As a Job Poster</h3>
        <hr/>
        <ul class="de-uglify list-font">
          <li><p><b>Access to quality talent:</b> Through our pre-approval system, you can access highly vetted candidates and have a competitive pool of applicants to choose from.</p></li>
          <li><p><b>Speed:</b> We help you target your job posts to our growing membership, making it easier for you to recruit talent.</p></li>
          <li><p><b>Ease:</b> We help simplify the process for  posting and monitoring your job and volunteer requests.</p></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
</section>
