<span id='modal_target'></span>

<div class="container-fluid padding-left-none padding-right-none" id="home">
  <div class="splash-wrap">
    <div class="splash-center text-center">
      <p>
        Short Site Description will go here with some sort of catchy phrasing.
      </p>
      <button class="btn btn-midas start-button" id="home-register" data-i18n="home.callToRegister">Sign Up</button>
      <button class="btn btn-midas start-button" id="home-browse" data-i18n="home.callToBrowse">Browse Jobs</button>
    </div><!-- Short Site Description -->
  </div><!-- /.splash-wrap -->
  <div class="home-long-description">
    <p>
      Big Long Description telling you everything you could ever need to know about UNICEF and blah jaogh ja na luirb naleiu bhaen au irbe yrgfau bdfgb aerugai rvaiu lralivbadf iugaio raiu r iwug aiurar giagiua gahg uiaregi ag a aieg aeig.
    </p>
  </div>
  <div class="two-column-holder">
    <div class="value-prop">
      <h2>As a Member</h2>
      <hr/>
      <ul class="de-uglify">
        <li>Member info here</li>
        <li>Member info here</li>
        <li>Member info here</li>
        <li>Member info here</li>
      </ul>
    </div>
    <div class="value-prop">
      <h2>As a Job Poster</h2>
      <hr/>
      <ul class="de-uglify">
          <li>Job Poster info here</li>
          <li>Job Poster info here</li>
          <li>Job Poster info here</li>
          <li>Job Poster info here</li>
        </ul>
    </div>
  </div>
</div><!-- /.container-fluid-->
