  <span id='modal_target'></span>
  <div class="container-fluid padding-left-none padding-right-none" id="home">
    <div class="splash-wrap" id="splash1">
        <div class="text-center button-holder left">
          <a class="login" href="/auth"><button class="btn btn-midas start-button" id="center" data-i18n="home.callToLogin">Login</button></a>
          <p>Some text about logging in.</p>
        </div>
        <div class="text-center button-holder center">
          <a class="login" href="/auth"><button class="btn btn-midas start-button" id="center" data-i18n="home.callToRegister">Register</button></a>
          <p>Some text about registering for the site</p>
        </div>
        <div class="text-center button-holder right">
          <a class="login" href="/auth"><button class="btn btn-midas start-button" id="center" data-i18n="home.callToBrowse">Browse</button></a>
          <p>Some text explaining what you can browse on the site.</p>
        </div>
    </div><!-- /.splash-wrap -->
    <div class="inline-block-center">
      <div class="value-prop">
          <div class="icon"><i class="fa fa-comments"></i></div> <!-- icon -->
          <div class="text">Make Connections</div>
      </div>
      <div class="value-prop">
          <div class="icon"><i class="fa fa-cogs"></i></div> <!-- icon -->
          <div class="text">Build Skills</div>
      </div>
      <div class="value-prop">
          <div class="icon"><i class="fa fa-line-chart"></i></div> <!-- icon -->
          <div class="text">Make a Difference</div>
      </div>
    </div>
  </div><!-- /.container-fluid-->
