

<style>
  #project-title {
    display:inline-block;
    padding-bottom: 30px;
    border-bottom:1px solid white;
    color:white;
  }

  #project-desc {
    color:white;
  }
</style>



<!-- MODALS -->
<div id="modal-close"></div>


<!-- ALERTS -->
<% if(project.state == 'closed') { %>

  <div class="alert alert-danger" id="alert-closed">This <span data-i18n="project">project</span> is <strong>closed</strong>.  It is no longer active, and no more modifications may be made.</div>

<% } %>


<!-- the big project banner -->
<section style="background:#555">
  <div class="container">

    <!-- the main group description box -->
    <div class="row">

        <% if( !edit ) { %>

          <div class="col-md-12 text-center">
            <h1 id="project-title"><%- project.title %></h1>
            <h3 id="project-desc"><%= project.description_html %></h3>

            <!-- If the user is logged in, present them with the vet button -->
            <% if(user && user.permissions.apply) { %>
              <button id="vet" class="btn btn-c2">Vet me for this group</button>
              <div><a href="#">What does it mean to get vetted?</a></div>
            <% } %>

            <% if(user.isOwner || user.permissions.admin) { %>
              <!-- Edit Group button -->
              <a href="#" id="project-edit" class="btn btn-c2"><i class="fa fa-pencil">&nbsp;</i>Edit <span data-i18n="Project">Project</span></a>

              <% if (project.state == 'closed') { %>
                <!-- Reopen Group button -->
                <a href="#" id="project-reopen" class="btn btn-c2"><i class="fa fa-share">&nbsp;</i>Reopen <span data-i18n="Project">Project</span></a>
              <% } else { %> <!-- if the group is OPEN -->
                <!-- Close Group button -->
                <a href="#" id="project-close" class="btn btn-c2"><i class="fa fa-times-circle">&nbsp;</i>Close <span data-i18n="Project">Project</span></a>
              <% } %>
            <% } %>

          </div>

        <% } else { %>

          <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
              <label>Group Title</label>
              <input id="project-edit-title" class="form-control input-lg" value="<%- project.title %>" type="text" data-validate="empty,count100" title="Title"/>
              <span class="help-block error-empty"    style="display:none;">You must enter a <span data-i18n="project">project</span> title.</span>
              <span class="help-block error-count100" style="display:none;">Your title must be less than 100 characters.</span>
            </div>

            <div class="form-group">
              <label>Group Description</label>
              <div class="markdown-edit"></div>
              <span class="help-block error-empty" style="display:none;">You must enter a <span data-i18n="project">project</span> description.</span>
            </div>

            <div class="form-group">
              <div class="box" id="projectowner-wrapper"></div>
            </div>

            <div class="form-group pull-right">
              <button id="project-discard" class="btn btn-c0">Discard Changes</button>
              <button id="project-save" class="btn btn-c2">Save <span data-i18n="Project">Project</span></button>
            </div>
          </div>

        <% } %>

    </div>

  </div>
</section>



<% if ( !edit ) { %> <!-- only show these if we're NOT in edit mode -->

<!-- the task list -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="box" id="task-list-wrapper" data-project-id="<%- project.id %>"></div>
      </div>
    </div>
  </div>
</section>

<% } else { %> <!-- only show these if we ARE in edit mode -->

<!-- the project owner -->
<section>
  <div class="col-sm-5 col-md-4 md-nopadding-right sm-nopadding">
    <div class="row">
      <div class="col-md-12 box">
      </div>
    </div>
  </div>
</section>

<% } %>
