
<!-- MODALS -->
<div id="modal-close"></div>

<!-- ALERTS -->
<% if(project.state == 'closed') { %>

  <div class="alert alert-danger" id="alert-closed">This <span data-i18n="project">project</span> is <strong>closed</strong>.  It is no longer active, and no more modifications may be made.</div>

<% } %>


<!-- the big project banner -->
<section class="group-banner">
  <div class="container">

    <!-- the main group description box -->
    <div class="row">

        <% if( !edit ) { %>

          <!-- NORMAL MODE -->

          <div class="col-md-6 col-md-offset-3 text-center">
            <h1 class="group-banner-title"><%- project.title %></h1>
            <h3 class="banner-desc"><%= project.description_html %></h3>

            <!-- If the user is allowed to apply to jobs, present them with the vet button -->
            <% if(user && user.permissions.apply) { %>
              <div id="vet-none" style="display:none;">
                <button id="project-vet" class="btn btn-c2">Get pre-approved for this group</button>
                <div class="group-faq-link"><a class="link-backbone white" href="/faq#pre-approve">What does it mean to get vetted?</a></div>
              </div>
              <div id="vet-pending" style="display:none;">
                <p>Your request for pre-approval will be reviewed as soon as possible.</p>
              </div>
              <div id="vet-accepted" style="display:none;">
                <p><i class="fa fa-check">&nbsp;</i>You are pre-approved for this group</p>
              </div>

            <% } %>

            <% if(user && (user.isOwner || user.permissions.admin)) { %>
              <div>
                <!-- Edit Group button -->
                <a href="#" id="project-edit" class="btn btn-c2"><i class="fa fa-pencil">&nbsp;</i>Edit <span data-i18n="Project">Project</span></a>

                <% if (project.state == 'closed') { %>
                  <!-- Reopen Group button -->
                  <a href="#" id="project-reopen" class="btn btn-c2"><i class="fa fa-share">&nbsp;</i>Reopen <span data-i18n="Project">Project</span></a>
                <% } else { %> <!-- if the group is OPEN -->
                  <!-- Close Group button -->
                  <a href="#" id="project-close" class="btn btn-c2"><i class="fa fa-times-circle">&nbsp;</i>Close <span data-i18n="Project">Project</span></a>
                <% } %>
              </div>
            <% } %>

          </div>
        <% } else { %>

          <!-- EDIT MODE -->

          <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
              <label>Group Title</label>
              <input id="project-edit-title" class="form-control input-lg" value="<%- project.title %>" type="text" data-validate="empty,count100" title="Title"/>
              <span class="help-block error-empty"    style="display:none;">You must enter a <span data-i18n="project">project</span> title.</span>
              <span class="help-block error-count100" style="display:none;">Your title must be less than 100 characters.</span>
            </div>

            <div class="form-group">
              <label>Group Description</label>
              <div class="markdown-edit"></div>
              <span class="help-block error-empty" style="display:none;">You must enter a <span data-i18n="project">project</span> description.</span>
            </div>

            <!-- the project owner -->
            <div class="form-group">
              <div class="box" id="projectowner-wrapper"></div>
            </div>

            <div class="form-group pull-right">
              <button id="project-discard" class="btn btn-c0">Discard Changes</button>
              <button id="project-save" class="btn btn-c2">Save <span data-i18n="Project">Project</span></button>
            </div>
          </div>

        <% } %>

    </div>

  </div>
</section>


<!-- the task list -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 nopadding">
        <div class="box" id="task-list-wrapper" data-project-id="<%- project.id %>"></div>
      </div>
    </div>
  </div>
</section>
