
<!-- ALERTS -->
<div class="alert alert-danger" id="alert-closed" style="<% if (project.state != 'closed') { %>display: none;<% } %>">This <span data-i18n="project">project</span> is <strong>closed</strong>.  It is no longer active, and no more modifications may be made.</div>

<!-- MODALS -->
<div id="modal-close"></div>





<style>

  .job-header
  {
    background: rgb(255, 255, 255);
  }

</style>





<section class="row job-header">
  <div class="container">

    <!-- the main group description box -->
    <div class="col-sm-9">

      <% if( !edit ) { %>

        <h1><%- project.title %></h1>
        <div><%= project.description_html %></div>

      <% } else { %>

        <div class="form-group">
          <h2 class="box-pad-t">Group Title</h2>
          <input id="project-edit-form-title" class="form-control input-lg" value="<%- project.title %>" type="text" data-validate="empty,count100" title="Title"/>
          <span class="help-block error-empty"    style="display:none;">You must enter a <span data-i18n="project">project</span> title.</span>
          <span class="help-block error-count100" style="display:none;">Your title must be less than 100 characters.</span>
        </div>

        <div class="form-group">
          <h2 class="box-pad-t">Group Description</h2>
          <div class="markdown-edit"></div>
          <span class="help-block error-empty" style="display:none;">You must enter a <span data-i18n="project">project</span> description.</span>
        </div>

      <% } %>

    </div>

    <!-- the options side-pane -->
    <div class="col-sm-3">

      <% if (project.isOwner || user.isAdmin) { %>

      <div class="navbar-side">
        <ul class="nav nav-pills nav-stacked">

          <% if ( !edit ) { %>

            <!-- Edit Group button -->
            <li>
              <a href="#" id="editProject"><i class="fa fa-pencil"></i> <span class="box-icon-text">Edit <span data-i18n="Project">Project</span></span></a>
            </li>

            <% if (project.state == 'closed') { %>

              <li>
                <a href="#" id="project-reopen"><i class="fa fa-share"></i> <span class="box-icon-text">Reopen <span data-i18n="Project">Project</span></span></a>
              </li>

            <% } else { %> <!-- if the group is OPEN -->

              <li>
                <a href="#" id="project-close"><i class="fa fa-times-circle"></i> <span class="box-icon-text">Close <span data-i18n="Project">Project</span></span></a>
              </li>

            <% } %>

          <% } else { %> <!-- if this IS edit mode -->

            <li>
              <button id="discardChanges" class="btn btn-c0">Discard Changes</button>
            </li>
            <li>
              <button id="saveChanges" class="btn btn-c2">Save <span data-i18n="Project">Project</span></button>
            </li>

          <% } %>

        </ul>
      </div>

      <% } %>

    </div>
  </div>
</section>









<div class="row">
  <div class="col-sm-4 col-md-4 col-lg-4 project-sidebar md-nopadding-right sm-nopadding">
    <!-- LEFT SIDEBAR -->

  <div class="col-sm-8 col-md-8 col-lg-8 md-nopadding sm-nopadding">

    <!-- RIGHT MAIN BAR -->
    <div class="row">
      <div class="col-sm-8 col-md-9 sm-nopadding">
        <div class="main-section">
          <div class="box box-main" id="project-coremeta-wrapper">
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-3 padding-left-none sm-nopadding">
        <div class="box padding-none">

          <div class="navbar-side <% if (project.isOwner || user.isAdmin) { %>border-bottom<% } %>">
            <ul class="nav nav-pills nav-stacked">
              <li>
                <a href="#" id="email"><i class="fa fa-envelope-o"></i> <span class="box-icon-text">Share</span></a>
              </li>
              <li>
                <a href="webcal://<%- hostname %>/api/event/ical/<%- project.id %>"><span class="fa fa-calendar"></span> <span class="box-icon-text">Calendar</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

</div> <!-- /row -->


<div class="row">

  <div class="col-sm-5 col-md-4 md-nopadding-right sm-nopadding">
    <div class="row">
      <div class="col-md-12 box">
        <div class="box" id="projectowner-wrapper">
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-7 col-md-8 md-nopadding-right sm-nopadding">

  <% if (!(project.isOwner || user.isAdmin) || !edit) { %>

    <div class="row">
      <div class="col-md-12 sm-nopadding md-nopadding">
        <!-- BEGIN TASKS -->
        <div class="wrapper-addTask"></div>
        <div class="box" id="task-list-wrapper" data-project-id="<%- project.id %>">
        </div>
        <!-- END TASKS -->
      </div>
    </div>

    <% } %> <!-- end of check for edit mode -->

  </div>
</div>
