
<style>

  .profile-bio {
    padding-top: 30px;
    padding-bottom: 15px;
  }

</style>


<section>
  <!-- everything is wrapped in a giant form, which is used for update submission -->
  <form id="profile-form">
    <div class="container">
      <div class="row">

        <!-- main column -->
        <div class="col-sm-8 nopadding">
          <div class="box box-main">

            <!-- edit buttons -->
            <div class="pull-right">

              <% if(!edit) { %>

                <% if(data.isOwner || user.permissions.admin) { %>
                  <% if(login.profile.edit === true) { %>
                    <a href="/profile/<%- data.id %>/edit" class="btn btn-c2 link-backbone">Edit Profile</a>
                  <% } else if(login.profile.editUrl) { %>
                    <a href="<%- login.profile.editUrl %>" class="btn btn-c2" target="_blank">Edit Profile</a>
                  <% } %>
                <% } %>

              <% } else { %>

                <a href="#" class="btn btn-c0" id="profile-cancel">Discard Changes</a>
                <button id="profile-save" type="submit" class="btn btn-c2" disabled="disabled" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Saving..." data-success-text="Saved!" data-fail-text="Save Failed.">Save Profile</button>

              <% } %>

            </div>

            <!-- main profile information -->

            <div class="form-group">
              <% if(!edit) { %>
                <h2>
                  <% if (data.firstname) { %><%- data.firstname %><% } else { %><%- data.username %><% } %>
                  <% if (data.lastname) { %><%- data.lastname %><% } %>
                </h2>
              <% } else { %>
                <div class="row">
                  <div class="col-sm-4 nopadding">
                    <label>Name</label>
                    <input type="text" class="form-control" id="profile-first-name" placeholder="First Name" value="<%- data.firstname %>">
                    <input type="text" class="form-control" id="profile-last-name"  placeholder="Last Name" value="<%- data.lastname %>">
                  </div>
                </div>
              <% } %>
            </div>

            <% if(!edit) { %>
              <div class="vet-wrapper"></div> <!-- populated by vet_show_view.js -->
            <% } %>

            <div class="form-group profile-bio">
              <% if(!edit) { %>
                <h4>
                  <!-- Escaped with marked() -->
                  <% if (data.bioHtml) { %><%= data.bioHtml %><% } else { %>This person doesn't have a bio yet.<% } %>
                </h4>
              <% } else { %>
                <label>A brief public biography</label>
                <div class="markdown-edit"></div>
              <% } %>
            </div>

            <hr> <!-- //////////////////////////////////////////////////// -->

            <div class="form-group profile-location">
              <label for="tag_location">Current location</label>
              <div id="tag_location"></div> <!-- handled by TagShowView.js -->
            </div>

            <div class="form-group profile-education">
              <label for="tag_education">Highest education level completed</label>
              <div id="tag_education"></div> <!-- handled by TagShowView.js -->
            </div>

            <div class="form-group profile-experience">
              <label for="tag_experience">Years of professional experience</label>
              <div id="tag_experience"></div> <!-- handled by TagShowView.js -->
            </div>

            <div class="form-group profile-location-pref">
              <label for="tag_work_location">Work location preferences</label>
              <div id="tag_work_location"></div> <!-- handled by TagShowView.js -->
            </div>

            <div class="form-group profile-seeking">
              <label for="tag_task_type">Type of work opportunities in which I am insterested</label>
              <div id="tag_task_type"></div> <!-- handled by TagShowView.js -->
            </div>

            <div class="form-group profile-fellowship">
              <label for="tag_fellowship">Would you like to be considered for possible fellowship opportunities?</label>
              <div id="tag_fellowship"></div> <!-- handled by TagShowView.js -->
            </div>

            <div class="form-group profile-language">
              <% if(edit) { %>
                <label>Languages</label>
              <% } %>
              <div class="lang-wrapper"></div> <!-- populated by language_view.js -->
            </div>

          </div>
        </div> <!-- end main column -->

        <!-- side bar -->
        <div class="col-sm-4 padding-right-none">
          <div class="box box-main">

            <div class="row">
              <div class="form-group profile-skills">
                <label for="tag_skills">Skills</label>
                <div id="tag_skills"></div> <!-- handled by TagShowView.js -->
              </div>
            </div>

            <div class="row">
              <div class="form-group profile-topics">
                <label for="tag_topics">Topics</label>
                <div id="tag_topics"></div> <!-- handled by TagShowView.js -->
              </div>
            </div>

            <hr>

            <div class="row">
              <label for="profile-email" class="control-label">Email</label>

              <% if(!edit) { %>
                <div><% if(email) { %><%- email %><% } else { %>No email addresses<% } %></div>
              <% } else { %>
                <input type="text" class="form-control" id="profile-email" name="username" placeholder="Email" value="<%- email %>">
                <div id="email-update-alert" class="alert alert-warning" style="display:none;"></div>
              <% } %>
            </div>

            <hr>

            <div class="row">
              <label for="services" class="control-label">Connected Accounts</label>

              <% if(!edit) { %>

                <% if (login.oauth.length > 0) { %>
                  <div>
                    <% if (data.auths.length === 0) { %>
                      No connected accounts.
                    <% } %>
                    <% _.each(login.oauth, function (a) { console.log(a); %>

                      <% if (_(data.auths).chain().pluck('provider').contains(a).value()) { %>
                      <div>
                        <%- login.config[a].name %>
                        <span class="label label-success">Connected</span>
                      </div>
                      <% } %>
                    <% }); %>
                  </div>
                <% } %>

              <% } else { %>

                <% if (login.oauth.length > 0) { %>
                  <form class="form-horizontal" role="form">
                  <% _.each(login.oauth, function (a) { %>
                    <div class="form-group">
                      <img src="<%- login.config[a].image %>" alt="<%- login.config[a].name %>" style="height: 30px"/>
                      <% if (_.findWhere(data.auths, { provider: a })) { %>
                      <a href="#" class="btn btn-danger btn-sm removeAuth pull-right" data-service="<%- a %>" data-id="<%- _.findWhere(data.auths, { provider: a }).id %>"><span class="fa fa-remove"></span> Disconnect</a>
                      <% } else { %>
                      <a href="<%- login.config[a].endpoint %>" class="btn btn-success btn-sm pull-right"><span class="fa fa-plus"></span> Connect</a>
                      <% } %>
                      <!-- <%- login.config[a].name %> -->
                    </div>
                  <% }); %>
                  </form>
                <% } %>

              <% } %>

            </div>
          </div> <!-- end row -->

          <div class="box box-main">
            <div class="row">
              <label>Links</label>
              <div class="links-wrapper"></div>
            </div>
          </div> <!-- end row -->

          <div class="box box-main">
            <div class="row">
              <label>Files</label>
              <div class="attachment-wrapper"></div>
            </div>
          </div> <!-- end row -->

        </div> <!-- end side bar column -->

      </div>
    </div>
  </form>
</section>

