
<style>
  form[name="choose"] {
    text-align: center;
    padding:100px 0px;
  }

  form[name="choose"] button {
    text-transform: uppercase;
    width:100%;
  }
</style>

<form name="choose">
  <section name="Create Account">

    <h2>I want to:</h2>

    <div class="row">

      <div class="col-sm-4 col-sm-offset-2">
        <button id="signup-as-applicant" class="btn btn-c2">Find a Job</button>
      </div>

      <div class="col-sm-4">
        <button id="signup-as-poster" class="btn btn-c2">Post a Job</button>
      </div>

    </div>

  </section>
</form>
