<form action="" id="project-form">
  <section name="Add Group">

    <fieldset>
      <div class="form-group">
        <label for="project-form-title"><span data-i18n="Project">Project</span> Title</label>
        <input type="text" class="project-title-form form-control validate" id="project-form-title" name="project-form-title" placeholder="Title" data-validate="empty,count100">
        <span class="help-block error-empty" style="display:none;">You must enter a title.</span>
        <span class="help-block error-count100" style="display:none;">The title must be less than 100 characters.</span>
      </div>
      <div class="form-group">
        <label for="project-form-description"><span data-i18n="Project">Project</span> Description</label>
        <div class="markdown-edit"></div>
        <span class="help-block error-empty" style="display:none;">You must enter a description.</span>
      </div>
    </fieldset>

  </section>
</form>
