
<tr data-id="<%- file.id %>" data-attach-id="<% if(attach_id) { %><%-attach_id %><% } %>">
  <td>
    <span class="file-tag-waiting fa fa-spinner fa-spin" style="display:none"></span>
    <span class="file-tag c3-bg white">file</span>
  </td>
  <td class="attachment-name">
    <a href="/api/file/get/<%- file.id %>" class="file-link" data-id="<%- file.id %>" download="<%- file.name %>">
      <%- file.name %>
      <% if ((user && user.isAdmin) || owner) { %>
        <a href="#" class="file-delete" <% if(!attach_id) { %>style="display:none"<% } %>><i class="fa fa-remove"></i></a>
      <% } %>
      <br/>
      <time class="timeago" datetime="<%- file.createdAt %>"><%- file.createdAt %></time>
    </a>
  </td>
</tr>
