<!-- the big Talent banner -->
<section class="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h1 class="banner-title">Talent</h1>
        <h3 class="banner-desc">Search for a specific user!</h3>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row static-row">
      <div class="col-md-12 faq-question top-faq text-center">
        <h2>This page is under construction!<h2>
      </div>
    </div>
  </div>
</section>
