<!-- ALERTS -->
<div class="alert alert-danger" id="alert-closed" style="<% if (model.state != 'closed') { %>display: none;<% } %>">This <span data-i18n="task">opportunity</span> is <strong>closed</strong>.  It is no longer active, and no more modifications may be made.</div>





<style>

</style>


<section>
  <div class="container">
    <div class="row">

      <!-- main column -->
      <div class="col-sm-8 nopadding">
        <div class="box box-main">

          <!-- edit buttons -->
          <div class="pull-right">
            <% if(!edit) { %>

              <% if(model.isOwner || (user && user.permissions.admin)) { %>

                <!-- Edit -->
                <a href="/tasks/<%- model.id %>/edit" class="btn btn-c2 link-backbone">
                  <i class="fa fa-pencil">&nbsp;</i>Edit <span data-i18n="Task">Job</span>
                </a>

                <!-- Change Job State -->
                <a href="#" id="task-close" class="btn btn-c2 link-backbone">
                  <i class="fa fa-times-circle">&nbsp;</i>
                  Change <span data-i18n="Task">Opportunity</span> State
                </a>

              <% } %>

            <% } else { %>

              <a href="/tasks/<%- model.id %>" class="btn btn-c0 link-backbone" id="task-cancel">Discard Changes</a>
              <button id="task-save" class="btn btn-c2" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Saving..." data-success-text="Saved!" data-fail-text="Save Failed.">Save <span data-i18n="Task">Job</span></button>

            <% } %>
          </div>

          <!-- main job information -->

          <!-- Title -->
          <div class="form-group">
            <% if(!edit) { %>

              <h2><%- model.title %></h2>

            <% } else { %>

              <div class="row">
                <div class="col-sm-4 nopadding">
                  <div class="form-group">
                    <label>Job Title</label>
                    <input type="text" class="form-control" id="task-title" placeholder="Job Title" value="<%- model.title %>">
                  </div>
                </div>
              </div>

            <% } %>
          </div>

          <!-- Working Group -->
          <div class="form-group">
            <% if(!edit) { %>

              <% if (model.projectId && ui.project.show) { %>
                <div class="task-project">
                  <a href="/projects/<%- model.projectId %>" class="link-backbone">
                    <i class="fa fa-folder-o"></i>
                    <%- model.project.title %>
                  </a>
                </div>
              <% } %>

            <% } else { %>

              <label>Associated <span data-i18n="project">project</span></label>
              <input type="hidden" id="task-project" />

            <% } %>
          </div>

          <!-- Apply button -->
          <% if(!edit) { %>
            <div class="form-group">
              <button id="task-apply" class="btn btn-midas">Apply</button>
            </div>
          <% } %>

          <hr> <!-- //////////////////////////////////////////////////// -->

          <!-- Description -->
          <div class="form-group">
            <% if(!edit) { %>
              <p>
                <!-- Escaped with marked() -->
                <% if (model.description) { %><%= model.descriptionHtml %><% } else { %>This job doesn't have a description yet.<% } %>
              </p>
            <% } else { %>
              <label>Job Description</label>
              <div id="task-description" class="markdown-edit"></div>
            <% } %>
          </div>

          <hr> <!-- //////////////////////////////////////////////////// -->

          <!-- Timestamps -->
          <div class="form-group task-show-creation">
            <span data-i18n="Task">Opportunity</span> created <time class="timeago" datetime="<%- model.createdAt %>"><%- model.createdAt %></time>
            <% if (model.createdAt != model.updatedAt) { %>
            and updated <time class="timeago" datetime="<%- model.updatedAt %>"><%- model.updatedAt %></time>
            <% } %>
          </div>


        </div>
      </div> <!-- end main column -->

      <!-- side bar -->
      <div class="col-sm-4 padding-right-none">


        <div class="box box-main">

          <div class="form-group task-location">
            <label for="tag_location">Location</label>
            <div id="tag_location"></div> <!-- handled by TagShowView.js -->
          </div>

          <div class="form-group task-type">
            <label for="tag_task_type">Type of work opportunities</label>
            <div id="tag_task_type"></div> <!-- handled by TagShowView.js -->
          </div>

          <!--
          <div class="form-group task-location-pref">
            <label for="tag_work_location">Work location preferences</label>
            <div id="tag_work_location"></div>
          </div>
          -->


          <div class="form-group task-language">
            <% if(edit) { %>
              <label>Languages</label>
            <% } %>
            <div class="lang-wrapper"></div> <!-- populated by language_view.js -->
          </div>

        </div> <!-- end box -->


        <div class="box box-main">

          <div class="row">
            <div class="form-group task-skills">
              <label for="tag_skills">Skills</label>
              <div id="tag_skills"></div> <!-- handled by TagShowView.js -->
            </div>
          </div>

          <div class="row">
            <div class="form-group task-topics">
              <label for="tag_topics">Topics</label>
              <div id="tag_topics"></div> <!-- handled by TagShowView.js -->
            </div>
          </div>

        </div> <!-- end box -->

        <div class="box box-main">
          <div class="row">
            <label>Files</label>
            <div class="attachment-wrapper"></div>
          </div>
        </div> <!-- end box -->



      </div> <!-- end side bar column -->

    </div>
  </div>
</section>



























































<!-- ================================= The old code ================================= -->




<section>
  <div class="container">  
    <div class="row">

      <div class="col-md-push-4 col-sm-push-4 col-sm-8 col-md-8 md-nopadding-right">
        <div class="row">

          <div class="col-md-3 padding-left-none sm-nopadding md-nopadding">
            <div class="box padding-none">

              <div class="navbar-side border-bottom">
                <div id="modal-copy"></div>
                <ul class="nav nav-pills nav-stacked">
                  <li>
                    <a href="#" id="email"><i class="fa fa-envelope-o"></i> <span class="box-icon-text">Share</span></a>
                  </li>
                  <% if (user) { %>
                  <li class="li-task-copy">
                    <a href="#" id="task-copy"><i class="fa fa-files-o"></i><span class="box-icon-text">Copy Opportunity</span></a>
                  </li>
                  <% } %>
                </ul>
              </div>
              <% if (model.isOwner || (user && user.permissions.admin)) { %>
              <div class="navbar-side <% if (user) { %>border-bottom<% } %>">
                <div id="modal-close"></div>
                <ul class="nav nav-pills nav-stacked">
                  <!--
                  <% if (!draftAdminOnly || model.state !== 'draft' || (user && user.permissions.admin)) { %>
                  <li id="li-task-close" style="<% if (model.state == 'closed') { %>display: none;<% } %>">
                    <a href="#" id="task-close"><i class="fa fa-times-circle"></i> <span class="box-icon-text">Change <span data-i18n="Task">Opportunity</span> State</span></a>
                  </li>
                  <% } else {%>
                    <li><span class="no-link">This draft <span data-i18n="task">opportunity</span> is awaiting approval from an administrator.</span></li>
                  <% } %>
                  -->
                  <li id="li-task-reopen" style="<% if (model.state != 'closed') { %>display: none;<% } %>">
                    <a href="#" id="task-reopen"><i class="fa fa-share"></i> <span class="box-icon-text">Reopen</span></a>
                  </li>
                  <!--
                  <li>
                    <a href="#" id="task-delete"><i class="fa fa-trash-o"></i> <span class="box-icon-text">Delete <span data-i18n="Task">Opportunity</span></span></a>
                  </li>
                  -->
                </ul>
              </div>
              <% } %>
              <div class="navbar-side border-bottom" <% if (!vol) {%>style="display: none;"<%}%>>
                <div id="modal-volunteer"></div>
                <ul class="nav nav-pills nav-stacked">
                  <li class="volunteer-true" style="display: none;">
                    <a href="#" id="volunteered" class="btn btn-c1"><i class="fa fa-thumbs-up"></i> <span class="box-icon-text" data-i18n="taskPage.volunteeredButton">Participated</span></a>

                  </li>
                  <li class="volunteer-false">
                    <a href="#" id="volunteer" class="btn btn-c2"><i class="fa fa-thumbs-o-up"></i> <span class="box-icon-text" data-i18n="taskPage.volunteerButton">Participate</span></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!--
      <div class="col-md-pull-8 col-sm-pull-8 col-sm-4 col-md-4 project-sidebar md-nopadding-right">

        <div class="row">
          <div class="col-md-12 box sm-nopadding">
            <div class="box task-both">
              <div class="box-pad-lr border-bottom">
                <h3>Requestor and Participants</h3>
              </div>
              <div class="box-main" id="task-volunteers">
                <div class="project-people-show-div" data-userid="<%- model.userId %>">
                  <img src="/api/user/photo/<%- model.userId %>" alt="<%- model.owner.name %>"/>
                  <label class="project-people-show-label"><%- model.owner.name %></label>
                </div>
                <div class="project-people-space">
                  <div class="bar">
                  </div>
                </div>
                <% _.each(model.volunteers, function (v) { %>
                <div class="project-people-show-div" data-userid="<%- v.userId %>" data-voluserid="<%- v.userId %>">
                  <img src="/api/user/photo/<%- v.userId %>" alt="<%- v.name %>"/>
                  <label class="project-people-show-label"><%- v.name %></label>
                </div>
                <% }); %>
              </div>
            </div>
          </div>
        </div>

      </div>
      -->
    </div>
  </div>
</section>
