<!-- ALERTS -->
<div class="alert alert-danger" id="alert-closed" style="<% if (model.state != 'closed') { %>display: none;<% } %>">This <span data-i18n="task">opportunity</span> is <strong>closed</strong>.  It is no longer active, and no more modifications may be made.</div>

<!-- Modals -->
<div id="apply-wrapper"></div>

<section>
  <div class="container">
    <div class="row">

      <!-- main column -->
      <div class="col-sm-8 nopadding">
        <div class="box box-main">

          <!-- edit buttons -->
          <div class="pull-right">
            <% if(!edit) { %>

              <% if(model.isOwner || (user && user.permissions.admin)) { %>

                <!-- Edit -->
                <a href="/tasks/<%- model.id %>/edit" class="btn btn-c2 link-backbone">
                  <i class="fa fa-pencil">&nbsp;</i>Edit <span data-i18n="Task">Job</span>
                </a>

                <!-- Change Job State -->
                <a href="#" id="task-close" class="btn btn-c2 link-backbone">
                  <i class="fa fa-times-circle">&nbsp;</i>
                  Change <span data-i18n="Task">Opportunity</span> State
                </a>

              <% } %>

            <% } else { %>

              <a href="/tasks/<%- model.id %>" class="btn btn-c0 link-backbone" id="task-cancel">Discard Changes</a>
              <button id="task-save" class="btn btn-c2" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Saving..." data-success-text="Saved!" data-fail-text="Save Failed.">Save <span data-i18n="Task">Job</span></button>

            <% } %>
          </div>

          <!-- main job information -->

          <!-- Title -->
          <div class="form-group">
            <% if(!edit) { %>

              <h2><%- model.title %></h2>

            <% } else { %>

              <div class="row">
                <div class="col-sm-4 nopadding">
                  <div class="form-group">
                    <label>Job Title</label>
                    <input type="text" class="form-control" id="task-title" placeholder="Job Title" value="<%- model.title %>">
                  </div>
                </div>
              </div>

            <% } %>
          </div>

          <!-- Working Group -->
          <div class="form-group">
            <% if(!edit) { %>

              <% if (model.projectId && ui.project.show) { %>
                <div class="task-project">
                  <a href="/projects/<%- model.projectId %>" class="link-backbone">
                    <i class="fa fa-folder-o"></i>
                    <%- model.project.title %>
                  </a>
                </div>
              <% } %>

            <% } else { %>

              <label>Associated <span data-i18n="project">project</span></label>
              <input type="hidden" id="task-project" />

            <% } %>
          </div>

          <!-- Apply button -->
          <% if(!edit) { %>
            <div class="form-group">
              <button id="task-apply" class="btn btn-midas">Apply</button>
              <p id="task-applied">Thanks for applying</p>
            </div>
          <% } %>

          <hr> <!-- //////////////////////////////////////////////////// -->

          <!-- Description -->
          <div class="form-group">
            <% if(!edit) { %>
              <p>
                <!-- Escaped with marked() -->
                <% if (model.description) { %><%= model.descriptionHtml %><% } else { %>This job doesn't have a description yet.<% } %>
              </p>
            <% } else { %>
              <label>Job Description</label>
              <div id="task-description" class="markdown-edit"></div>
            <% } %>
          </div>

          <hr> <!-- //////////////////////////////////////////////////// -->

          <!-- Timestamps -->
          <div class="form-group task-show-creation">
            <span data-i18n="Task">Opportunity</span> created <time class="timeago" datetime="<%- model.createdAt %>"><%- model.createdAt %></time>
            <% if (model.createdAt != model.updatedAt) { %>
            and updated <time class="timeago" datetime="<%- model.updatedAt %>"><%- model.updatedAt %></time>
            <% } %>
          </div>


        </div>
      </div> <!-- end main column -->

      <!-- side bar -->
      <div class="col-sm-4 padding-right-none">

        <div class="box box-main">
          <h3>Deadline to Apply</h3>
          <% if(!edit) { %>
            <h4>
              <!-- convert the ISO date code into a more human readable format -->
              <% if (model.applyBy) { %>
                <%- (new Date(model.applyBy)).toDateString() %>
              <% } else { %>
                <span class="dim">Not specified</span>
              <% } %>
            </h4>
          <% } else { %>
            <input id="applyBy" class="form-control timepicker" type="text" placeholder="Click to select a deadline">
          <% } %>
        </div>

        <div class="box box-main">

          <div class="form-group task-location">
            <label for="tag_location">Locations</label>
            <div id="tag_location"></div> <!-- handled by TagShowView.js -->
          </div>

          <div class="form-group task-type">
            <label for="tag_task_type">Type of work opportunities</label>
            <div id="tag_task_type"></div> <!-- handled by TagShowView.js -->
          </div>

          <div class="form-group task-remote">
            <label for="tag_remote">Can the candidate work remotely?</label>
            <div id="tag_remote"></div>
          </div>

          <div class="form-group task-startedby">
            <label for="startedBy">Anticipated Start Date</label>
            <% if(!edit) { %>
              <div>
                <!-- convert the ISO date code into a more human readable format -->
                <% if (model.startedBy) { %>
                  <%- (new Date(model.startedBy)).toDateString() %>
                <% } else { %>
                  <span class="dim">Not specified</span>
                <% } %>
              </div>
            <% } else { %>
              <input id="startedBy" class="form-control timepicker" type="text" placeholder="Click to select a start date">
            <% } %>
          </div>

          <div class="form-group task-duration">
            <label for="duration">Duration</label>
            <% if(!edit) { %>
              <div>
                <% if (model.duration) { %>
                  <%- model.duration %>
                <% } else { %>
                  <span class="dim">Not specified</span>
                <% } %></div>
            <% } else { %>
              <input id="duration" class="form-control" type="text" value="" placeholder="Type a duration">
            <% } %>
          </div>

        </div> <!-- end box -->


        <div class="box box-main">

          <div class="row">
            <div class="form-group task-skills">
              <label for="tag_skills">Skills</label>
              <div id="tag_skills"></div> <!-- handled by TagShowView.js -->
            </div>
          </div>

          <div class="row">
            <div class="form-group task-topics">
              <label for="tag_topics">Topics</label>
              <div id="tag_topics"></div> <!-- handled by TagShowView.js -->
            </div>
          </div>

        </div> <!-- end box -->

        <div class="box box-main">
          <div class="row">
            <label>Files</label>
            <div class="attachment-wrapper"></div>
          </div>
        </div> <!-- end box -->



      </div> <!-- end side bar column -->

    </div>
  </div>
</section>
