
<style>

  form section[name="Skills"] p {
    margin-top: 10px;
    margin-bottom: 30px;
  }

</style>

<form name="applicant">
  <section name="Account" class="core-account-info">
    <!--
      The core_account_info_view will populate this with:

      Real Name
      Email (username)
      Password
    -->
  </section>

  <section name="Profile">
    <div class="row">
      <div class="col-sm-12">

        <div class="form-group">
          <label for="tag_location">Your current Location</label>
          <div id="tag_location"></div> <!-- handled by TagShowView.js -->
        </div>
        <div class="form-group">
          <label for="tag_task_type">Interested in which types of work?</label>
          <div id="tag_task_type"></div> <!-- handled by TagShowView.js -->
        </div>
        <div class="form-group">
          <label for="tag_education">Highest education level completed</label>
          <div id="tag_education" class="pull-right"></div> <!-- handled by TagShowView.js -->
        </div>
        <div class="form-group">
          <label for="tag_experience">Years of professional experience</label>
          <div id="tag_experience" class="pull-right"></div> <!-- handled by TagShowView.js -->
        </div>
        <div class="form-group">
          <label for="tag_work_location">Work Location Preference</label>
          <div id="tag_work_location" class="pull-right"></div> <!-- handled by TagShowView.js -->
        </div>
        <div class="form-group">
          <label for="tag_relocate">Are you willing to relocate for work?</label>
          <div id="tag_relocate" class="pull-right"></div> <!-- handled by TagShowView.js -->
        </div>
        <div class="form-group">
          <label for="tag_fellowship">Would you like to be considered for possible fellowship opportunities?</label>
          <div id="tag_fellowship" class="pull-right"></div> <!-- handled by TagShowView.js -->
        </div>


      </div>
    </div>
  </section>

  <section name="Skills">
    <div class="row">
      <div class="col-sm-12">

        <div class="form-group">
          <label for="tag_skills">Please enter your skills</label>
          <div id="tag_skills"></div> <!-- handled by TagShowView.js -->
          <p>
            Your skills will be displayed on your profile, and will help us match you to appropriate jobs.
          </p>
        </div>


        <div class="form-group">
          <label for="tag_topics">Interested in which types of work?</label>
          <div id="tag_topics"></div> <!-- handled by TagShowView.js -->
          <p>
            For instance: Design, Development, Translation
          </p>
        </div>

      </div>
    </div>
  </section>

  <section name="Languages">
    <div class="row">
      <div class="col-sm-12">

        <div class="form-group">
          <label>Please indicate what languages you speak, and at what level of proficiency</label>
        </div>

        <div class="lang-wrapper">
          <!--
            Populated by the Language view
          -->
        </div>

      </div>
    </div>
  </section>

  <section name="CV/Resume">
    <div class="row">
      <div class="col-sm-12">

        <div class="form-group">
          <label>Please provide a link to your portfolio and/or website</label>
        </div>

        <div class="link-wrapper">
          <!--
            Populated by the Link view
          -->
        </div>

      </div>
    </div>
  </section>
</form>
