
<style>
  form section[name="Skills"] {
    padding-bottom: 150px;
  }

</style>

<form name="applicant">
  <section name="Account" class="core-account-info">
    <!--
      The core_account_info_view will populate this with:

      Real Name
      Email (username)
      Password
    -->
  </section>

  <section name="Profile">
    <div class="row">
      <div class="col-sm-12">

        <div class="form-group">
          <label for="location">Your current Location</label>
          <div id="location"></div> <!-- handled by select2 -->
        </div>
        <div class="form-group">
          <label for="education">Highest education level completed</label>
          <div id="education"></div> <!-- handled by select2 -->
        </div>
        <div class="form-group">
          <label for="topics">Interested in which types of work?</label>
          <div id="topics"></div> <!-- handled by select2 -->
        </div>

      </div>
    </div>
  </section>

  <section name="Skills">
    <div class="row">
      <div class="col-sm-12">

        <div class="form-group">
          <label for="skills">Please enter your skills</label>
          <div id="skills"></div> <!-- handled by select2 -->
        </div>

        <p>
          Your skills will be displayed on your profile, and will help us match you to appropriate jobs.
        </p>

      </div>
    </div>
  </section>

  <section name="Languages">
    <div class="row">
      <div class="col-sm-12">

        <label>Please indicate what languages you speak, and at what level of proficiency</label>

        <div class="lang-wrapper">
          <!--
            Populated by the Language view
          -->
        </div>

      </div>
    </div>
  </section>

  <section name="CV/Resume">
    <div class="row">
      <div class="col-sm-12">

        <label>Please provide a link to your portfolio and/or website</label>

        <div class="link-wrapper">
          <!--
            Populated by the Link view
          -->
        </div>

      </div>
    </div>
  </section>
</form>
