
<form name="applicant">
  <section name="Create Account" class="core-account-info">
    <!--
      The core_account_info_view will populate this with:

      Real Name
      Email (username)
      Password
    -->
  </section>
  <section name="Profile">
    <div class="form-group">
      <label for"location">Your current Location</label>
      <div id="location"></div> <!-- populated by select2 -->
    </div>
  </section>
  <section name="Skills">
    <h2>3</h2>
  </section>
  <section name="CV/Resume">
    <h2>4</h2>
  </section>
</form>
