
<style>
  form[name="choose"] {
    text-align: center;
    padding:150px 0px;
  }

  form[name="choose"] .form-title {
    text-transform: uppercase;
  }

  form[name="choose"] button {
    text-transform: uppercase;
    width:100%;
    padding-top: 12px;
    padding-bottom: 12px;
  }
</style>

<form name="choose">
  <section name="Create Account">

    <h3 class="form-title">I want to:</h3>

    <div class="row">

      <div class="col-sm-4 col-sm-offset-2">
        <button id="register-as-applicant" class="btn btn-c2">Find a Job</button>
      </div>

      <div class="col-sm-4">
        <button id="register-as-poster" class="btn btn-c2">Post a Job</button>
      </div>

    </div>

  </section>
</form>
