
<section>
  <div class="container">

    <div class="row box-pad-b">
      <div class="col-md-12 nopadding">

        <div class="pull-right">
          <a href="/tasks/<%- task.id %>" class="btn btn-c2 link-backbone" id="profile-cancel">Back to Job</a>
          <button class="btn btn-c2">Accept and Assign</button>
        </div>


        <div class="col-sm-4">
          <h3>Applicants for <%- task.title %></h3>
          <p>
            After clicking "Accept and Assign", all applicants will recieve an email notifying them of acceptance or rejection, and this job will be marked as "Assigned".
          </p>
        </div>

      </div>
    </div>

    <div class="row box-pad-b">
      <div class="col-md-12 nopadding">
        <div class="row border-bottom">
          <div class="col-sm-3"><h4>User</h4></div>
          <div class="col-sm-1"><h4>Rate</h4></div>
          <div class="col-sm-3"><h4>Files</h4></div>
          <div class="col-sm-4"><h4>Pre-approved for</h4></div>
          <div class="col-sm-1"><h4>Accept</h4></div>
        </div>
      </div>
    </div>

    <div class="row">
      <ul class="de-uglify">

        <% _.each(applications, function(application) { %>

          <li class="application row box" data-id="<%- application.id %>" data-user-id="<%- application.user.id %>">

            <!-- Applicant's Name -->
            <div class="col-sm-3"><h3><a href="/profile/<%- application.user.id %>" target="_blank"><%- application.user.firstname + " " + application.user.lastname %></a></h3></div>

            <!-- Rate -->
            <div class="col-sm-1"><%- application.rate %></div>

            <!-- Files -->
            <div class="col-sm-3">
              <ul class="de-uglify">
                <% _.each(application.files, function(file) { %>
                  <li>
                    <a href="/api/file/get/<%- file.id %>" class="file-link" download="<%- file.name %>">
                      <%- file.name %>
                    </a>
                  </li>
                <%  }); %>

                <% if(application.files.length == 0) { %>
                  <li class="dim">No files submitted</li>
                <%  } %>

              </ul>
            </div>

            <!-- Vet Status -->
            <div class="col-sm-4">
              <ul class="vet-list">
                  <!-- simply add a .vetted class to each <li> that the user is vetted for -->
                  <% _.each(application.vets, function(vet) { %>

                    <li class="vetted">
                      <i class='fa fa-check-circle'>&nbsp;</i>
                      <span><%= vet.project.title %></span>
                    </li>

                  <%  }); %>
              </ul>
            </div>

            <!-- Accept Button -->
            <div class="col-sm-1">
              <input type="checkbox" class="form-control">
            </div>
          </li>

        <%  }); %>

        <% if(applications.length == 0) { %>
          <div class="row">
            <div class="col-sm-12">
              <p>No applications</p>
            </div>
          </div>
        <%  } %>

      </ul>
    </div>

  </div>
</section>
