<div class="wrapper-addProject"></div>
<div class="wrapper-addTask"></div>

<section>
  <div class="container">

    <% if(user) { %>
    <div class="row">
      <div class="col-md-12 nopadding">
        <a href="#addProject" class="btn btn-c2 add-project pull-right" data-toggle="modal" data-backdrop="static"><i class="fa fa-plus">&nbsp;</i><span data-i18n="Project">Project</span></a>
      </div>
    </div>
    <% } %>


    <div class="row">
      <div class="col-md-12 nopadding">

        <div id="browse-search-spinner" class="fullwidth text-center">
          Loading... <i class="fa fa-spinner fa-spin"></i>
        </div>

        <!-- The search results -->
        <ul id="browse-list"></ul>

      </div>
    </div>
  </div>
</section>
