<div class="wrapper-addProject"></div>
<div class="wrapper-addTask"></div>


<section>
  <div class="container">

    <!-- search row -->
    <div class="row search-row">

      <!-- The search box -->
      <div class="col-md-8 nopadding">
        <form class="form-horizontal" role="form" id="search-form">

          <div class="form-group row">
            <div class="col-sm-10 input-search">
              <input type="hidden" id="search" title="Search" style="width: 100%"/>
            </div>
            <div class="col-sm-2 btn-search">
              <input type="submit" class="btn btn-c1" title="Search" value="Search" style="width: 100%"/>
            </div>
          </div>

        </form>
      </div>

      <!-- The add-task button -->
      <% if(user) { %>
      <div class="col-md-4 nopadding browse-buttons">
        <a href="#addTask" class="btn btn-c2 add-opportunity pull-right" data-toggle="modal" data-backdrop="static"><i class="fa fa-plus"></i> <span data-i18n="Task">Opportunity</span></a>
      </div>
      <% } %>

    </div>

    <!-- header row -->
    <div class="row box-pad-b">
      <div class="col-md-9 nopadding">
        <div class="row border-bottom">
          <div class="col-md-4"><h4>Opportunity</h4></div>
          <div class="col-md-2"><h4>Location</h4></div>
          <div class="col-md-2"><h4>Duration</h4></div>
          <div class="col-md-2"><h4>Apply By</h4></div>
        </div>
      </div>
    </div>

    <!-- results & filters row -->
    <div class="row">

        <!-- Filters column -->
        <div class="col-md-3 col-md-push-9 padding-right-none">
          <div class="box box-main">
            <div class="border-bottom">
              <h4>Filters</h4>
            </div>
            <div class="box-pad-t">
              <div id="stateFilters">
                <% _.each(ui.states, function (t) { %>
                  <label class="<% if ( t.value == "draft" ) { %>hidden draft-filter<% } %>">
                    <input type='checkbox' name='state<%- t.label %>' class='stateFilter' value='<%- t.value %>'
                    <% if ( t.value == "open" ) {%>
                      <%- checked="checked" %>
                    <% } %>
                    > <%- t.label %>
                  </label>
                <% }); %>
              </div>
              <div id="search-projs-wrapper" class="box-pad-lr">
                <ul id="search-projs" class="nav nav-pills nav-stacked nav-search">
                </ul>
              </div>
              <div>
                <ul id="search-tags" class="nav nav-pills nav-stacked nav-search"></ul>
              </div>
              <div class="search-clear" style="display: none;">
                <div class="align-right">
                  <a href="#" id="search-clear" class="btn btn-sm btn-c0"><i class="fa fa-remove"></i> Clear Search Criteria</a>
                </div>
              </div>
            </div>
          </div>
        </div>


      <div class="col-md-9 col-md-pull-3 nopadding">
        <div id="browse-search-spinner" class="fullwidth text-center">
          Loading... <i class="fa fa-spinner fa-spin"></i>
        </div>

        <!-- The search results -->
        <ul id="browse-list"></ul>
      </div>

    </div>
  </div>
</section>
