
<!-- modals -->
<div id="addProject-wrapper"></div>


<!-- the big Groups banner -->
<section class="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h1 class="group-banner-title">Areas</h1>
        <h3 class="banner-desc">unicefjobs.ninja is organized by broad skill groups called Areas, which help members connect with the most relevant opportunities and help job-posters find qualified talent. Current groups include Design, Development, and Translation.</h3>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">

    <!-- The add-group button row -->
    <% if(user) { %>
    <div class="row">
      <div class="col-md-12 nopadding under-banner-pad">
        <a href="#addProject" class="btn btn-c2 add-project pull-right" data-toggle="modal" data-backdrop="static"><i class="fa fa-plus">&nbsp;</i>Add A <span data-i18n="Project">Project</span></a>
      </div>
    </div>
    <% } %>


    <!-- header row -->
    <div class="row box-pad-b">
      <div class="col-md-12 nopadding">
        <div class="row border-bottom">
          <div class="col-sm-4 col-md-2"><h4>Area</h4></div>
          <div class="col-sm-6 col-md-4"><h4>Description</h4></div>
        </div>
      </div>
    </div>

    <!-- results row -->
    <div class="row">
      <div class="col-md-12 nopadding">

        <div id="browse-search-spinner" class="fullwidth text-center">
          Loading... <i class="fa fa-spinner fa-spin"></i>
        </div>

        <!-- The search results -->
        <ul id="browse-list"></ul>

      </div>
    </div>
  </div>
</section>
