<li data-id="<%- item.id %>" class="box project-box row">

  <h3 class="project-title col-sm-4 col-md-2">
    <a href="/projects/<%- item.id %>" class="link-backbone c1">
      <%- item.title %>
    </a>
  </h3>

  <div class="project-list-description col-sm-6 col-md-4">
    <!-- Escaped by marked() -->
    <%= item.descriptionHtml %>
  </div>

  <div class="project-list-counts col-sm-2 col-sm-2 pull-right">
    <div class="project-list-count c2">
      <%- item.taskCount %>
    </div>
    <div class="project-list-count-text c2">
      <% if(item.taskCount == 1) { %>
        <span data-i18n="Task">Job</span>
      <% } else { %>
        <span data-i18n="TaskPlural">Jobs</span>
      <% } %>
    </div>
  </div>

</li>
