<li data-id="<%- item.id %>" class="box task-box row">

  <!-- deadline -->
  <div class="col-md-4">
    <h3 class="task-list-title task-title-overflow-multi">
      <a href="/tasks/<%- item.id %>" class="link-backbone c1">
        <%- item.title %>
      </a>
    </h3>
  </div>

  <!-- locations -->
  <div class="col-md-3">
    <% _.each(tags.location, function (location) { %>
      <div><%- location.name %></div>
    <% }); %>

    <% if(tags.location.length === 0) { %>
      <span class="dim">Not specified</span>
    <% } %>
  </div>

  <!-- duration -->
  <div class="col-md-2">
    <% if (item.duration) { %>
      <%- item.duration %>
    <% } else { %>
      <span class="dim">Not specified</span>
    <% } %>
  </div>

  <!-- application deadline -->
  <div class="col-md-3">
    <% if (item.applyBy) { %>
      <%- (new Date(item.applyBy)).toDateString() %>
    <% } else { %>
      <span class="dim">Not specified</span>
    <% } %>    
  </div>

</li>
