
<style>

  ul.lang-list {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
    max-height: 250px; /* roughly 2 li's of content */
    overflow-y: auto;
  }

  ul.lang-list.edit li {
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #BBB;
  }

  ul.lang-list.edit li:first-of-type {
    padding-top: 0px;
  }

  ul.lang-list.edit li:last-of-type {
    border-bottom: none;
  }

  /* normal form-groups were a little too big */
  ul.lang-list li .row {
    margin-bottom: 5px;
  }

  ul.lang-list li label {
    /* the default bold was a little too much */
    font-weight: normal;
  }

  .lang-buttons {
    margin-top: 10px;
  }

</style>


<% if(!edit) { %>
  <!-- the header -->
  <div class="row border-bottom">
    <div class="col-sm-2"><b>Languages</b></div>
    <div class="col-sm-5"><b>Written Proficiency</b></div>
    <div class="col-sm-5"><b>Spoken Proficiency</b></div>
  </div>
<% } %>

<!-- The main list -->
<div class="row">
  <ul class="lang-list <% if(edit) { %>edit<% } %>"></ul>
</div>

<div class="row">
  <div class="lang-list-empty" style="display:none">No languages found</div>
</div>

<% if(edit) { %>
  <div class="row lang-buttons">
    <button class="lang-add btn"><i class="fa fa-plus">&nbsp;</i>Add Language</button>
  </div>
<% } %>
