
<ul class="lang-list">
  <li>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label class="control-label" data-i18n="loginModal.name">Language</label>
          <input type="text" class="form-control validate language" placeholder="Name of Language" data-validate="empty">
          <span class="help-block error-empty" style="display:none;">Please enter a language.</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <div class="col-sm-6">
          <label class="control-label" data-i18n="loginModal.name">Written Proficiency</label>
        </div>
        <div class="col-sm-6">
          <select>
            <option>No Proficiency</option>
            <option>Elementary Proficiency</option>
            <option>Limited Working Proficiency</option>
            <option>Professional Working Proficiency</option>
            <option>Native Or Bilingual Proficiency</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <div class="col-sm-6">
          <label class="control-label" data-i18n="loginModal.name">Spoken Proficiency</label>
        </div>
        <div class="col-sm-6">
          <select>
            <option>No Proficiency</option>
            <option>Elementary Proficiency</option>
            <option>Limited Working Proficiency</option>
            <option>Professional Working Proficiency</option>
            <option>Native Or Bilingual Proficiency</option>
          </select>
        </div>
      </div>
    </div>

  </li>
</ul>

<div class="row">
  <div class="col-sm-12">
    <button><i class="fa fa-plus">&nbsp;</i>Add Language</button>
  </div>
</div>
