<li>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label class="control-label" data-i18n="loginModal.name">Language</label>
        <input type="text" class="form-control validate language" placeholder="Name of Language" data-validate="empty">
        <span class="help-block error-empty" style="display:none;">Please enter a language.</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <div class="col-sm-6">
        <label class="control-label" data-i18n="loginModal.name">Written Proficiency</label>
      </div>
      <div class="col-sm-6">
        <select class="lang-proficiency"></select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <div class="col-sm-6">
        <label class="control-label" data-i18n="loginModal.name">Spoken Proficiency</label>
      </div>
      <div class="col-sm-6">
        <select class="lang-proficiency"></select>
      </div>
    </div>
  </div>

</li>