<li class="border-bottom">

  <div class="row lang-name">
    <div class="form-group">
      <div class="col-sm-4">
        <label class="control-label" data-i18n="loginModal.name">Language</label>
      </div>
      <div class="col-sm-7">
        <input type="text" class="form-control validate language" placeholder="Name of Language" data-validate="empty">
        <span class="help-block error-empty" style="display:none;">Please enter a language.</span>
      </div>
      <div class="col-sm-1">
        <button type="button" class="close">&times;</button>
      </div>
    </div>
  </div>

  <div class="row lang-written">
    <div class="form-group">
      <div class="col-sm-4">
        <label class="control-label" data-i18n="loginModal.name">Written Proficiency</label>
      </div>
      <div class="col-sm-7">
        <div class="lang-proficiency"></div>
      </div>
    </div>
  </div>

  <div class="row lang-spoken">
    <div class="form-group">
      <div class="col-sm-4">
        <label class="control-label" data-i18n="loginModal.name">Spoken Proficiency</label>
      </div>
      <div class="col-sm-7">
        <div class="lang-proficiency"></div>
      </div>
    </div>
  </div>

</li>