
<style>

  ul.link-list.edit {
    list-style: none;
    padding-left: 0px;
    max-height: 115px;
    overflow-y: auto;
  }

  ul.link-list.edit input {
    overflow: hidden;
  }

  ul.link-list.edit li.link {
    /* normal form-groups were a little too big */
    padding-bottom: 5px;
  }

  li.link > div {
    overflow: hidden;
  }

  /* The close buttons */
  li.link button {
    padding: 5px 10px;
  }

  /* The URL inputs */
  li.link input {
    width:100%;
  }

</style>

<!-- The main list -->
<ul class="link-list <% if(edit) { %>edit<% } %>"></ul>

<% if(edit) { %>
  <div class="row">
    <button class="link-add btn"><i class="fa fa-plus">&nbsp;</i>Add Link</button>
  </div>
<% } %>
