

<li class="link" data-id="<%- link.id %>">

  <% if(edit) { %>

    <!-- EDIT MODE -->

    <button type="button" class="close pull-right">&times;</button>
    <div>
      <input type="text" class="form-control validate link-url" placeholder="URL" data-validate="empty" value="<%- link.url %>">
      <span class="help-block error-empty" style="display:none;">Please enter a valid URL.</span>
    </div>

  <% } else { %>

    <!-- SHOW MODE -->

    <div><a href="<%- link.url %>" target="_blank"><%- link.url %></a></div>

  <% } %>

</li>
